[submodule "opt/cpr"]
	path = opt/cpr
	url = https://github.com/whoshuu/cpr
[submodule "opt/json"]
	path = opt/json
	url = https://github.com/nlohmann/json
[submodule "opt/docopt"]
	path = opt/docopt
	url = https://github.com/docopt/docopt.cpp
